* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(3, 3, 3);
}

.board-container {
  margin: auto;
  /* min-height: 200px; */
  /* min-width: 700px; */
  background-color: rgb(27, 27, 27);
  background-image: url("background.png"), url("background.png");
}

.cell {
  width: 80px;
  height: 60px;
  text-align: center;
  /* border: 1px solid rgb(70, 70, 70); */
}

.title {
  text-align: center;
  color: rgb(235, 235, 235);
  background-color: rgb(97, 1, 1);
  margin-bottom: 5px;
}

.score {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(235, 235, 235);
}

.game-over-win-modal {
  text-align: center;
  position: absolute;
  width: 300px;
  height: 150px;
  left: 50%;
  top: 40%;
  border: rgb(47, 47, 47) 4px solid;
  background-color: rgb(128, 17, 17);
  transform: translate(-50%, -50%);
  display: none;
  color: rgb(235, 235, 235);
}

.restart-button {
  margin-top: 80px;
}

.instructions-modal {
  text-align: center;
  position: absolute;
  width: 300px;
  height: 150px;
  left: 50%;
  top: 40%;
  border: rgb(47, 47, 47) 4px solid;
  background-color: rgb(141, 22, 22);
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.dismiss-button {
  margin-top: 50px;
}

.space-ship {
  width: 70px;
}
.missile {
  width: 15px;
  height: 40px;
}
.alien {
  width: 40px;
}
