* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(47, 47, 47);
}

.board-container {
  margin: auto;
  background-color: rgb(218, 218, 218);
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}

.title {
  text-align: center;
  color: rgb(191, 193, 195);
  background-color: rgb(96, 0, 0);
  margin-bottom: 5px;
}

.score {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(191, 193, 195);
}

.game-over-win-modal {
  text-align: center;
  position: absolute;
  width: 300px;
  height: 150px;
  left: 50%;
  top: 40%;
  border: rgb(47, 47, 47) 4px solid;
  background-color: rgb(128, 17, 17);
  transform: translate(-50%, -50%);
  display: none;
}

.restart-button {
  margin-top: 80px;
}

.instructions-modal {
  text-align: center;
  position: absolute;
  width: 300px;
  height: 150px;
  left: 50%;
  top: 40%;
  border: rgb(47, 47, 47) 4px solid;
  background-color: rgb(128, 17, 17);
  transform: translate(-50%, -50%);
  /* display: none; */
}

.dismiss-button {
  margin-top: 50px;
}
